<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Hello World Servlet Web Application</display-name>

    <context-param>
        <param-name>name5</param-name>
        <param-value>value5</param-value>
    </context-param>
    <context-param>
        <param-name>name6</param-name>
        <param-value>value6</param-value>
    </context-param>

    <servlet>
        <servlet-name>HelloWorldServlet2</servlet-name>
        <servlet-class>ru.academits.java.kononov.helloworldservlet.servlets.HelloWorldServlet2</servlet-class>
        <init-param>
            <param-name>name3</param-name>
            <param-value>value3</param-value>
        </init-param>
        <init-param>
            <param-name>name4</param-name>
            <param-value>value4</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>ru.academits.java.kononov.helloworldservlet.filters.Filter2</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>ru.academits.java.kononov.helloworldservlet.listeners.Listener2</listener-class>
    </listener>
</web-app>
